/* ============================================================
   LinguaGo Mobile - Theme Variables
   Adapted to match original web design
   ============================================================ */

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** LinguaGo Original Colors **/
:root {
    /* Primary colors from original design */
    --linguago-bg-start: #eaf4ce;
    --linguago-bg-end: #cfe9bf;
    --linguago-accent: #2a4758;
    --linguago-accent-dark: #1b3a47;
    --linguago-cta: #2b3b4d;
    --linguago-white: #ffffff;
    --linguago-muted: #6d7b7a;

    /* Ionic Primary - Dark Blue from original */
    --ion-color-primary: #2a4758;
    --ion-color-primary-rgb: 42, 71, 88;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #253e4d;
    --ion-color-primary-tint: #3f5a69;

    /* Secondary - Lighter blue */
    --ion-color-secondary: #3d6378;
    --ion-color-secondary-rgb: 61, 99, 120;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36576a;
    --ion-color-secondary-tint: #507386;

    /* Tertiary - Green accent */
    --ion-color-tertiary: #7eb775;
    --ion-color-tertiary-rgb: 126, 183, 117;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #6fa167;
    --ion-color-tertiary-tint: #8bbe83;

    /* Success */
    --ion-color-success: #7eb775;
    --ion-color-success-rgb: 126, 183, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #6fa167;
    --ion-color-success-tint: #8bbe83;

    /* Warning */
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /* Danger */
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /* Medium */
    --ion-color-medium: #6d7b7a;
    --ion-color-medium-rgb: 109, 123, 122;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #606c6b;
    --ion-color-medium-tint: #7c8887;

    /* Light */
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /* Background */
    --ion-background-color: #eaf4ce;
    --ion-background-color-rgb: 234, 244, 206;

    /* Text colors */
    --ion-text-color: #1b3a47;
    --ion-text-color-rgb: 27, 58, 71;
}

/* Dark mode (optional) */
@media (prefers-color-scheme: dark) {
    body {
        --ion-background-color: #1b3a47;
        --ion-background-color-rgb: 27, 58, 71;

        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
    }
}